:root {
    --main-bg-color: #f8f9fa;
    --primary-color: #dc3545;
    --second-bg-color: #ffc522;
    --secondary-color: #6c757d;
    --light-color: #ffffff;
    --dark-color: #343a40;
}
/* custom-scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--dark-color);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--second-bg-color); 
  }

/* custom-scrollbar-end   */